<h1>Ticket for <%= @event.name %></h1>

<% if !@tickets.blank? %>
	<table>
		<tr>
			<td class="left-col">Ticket Type</td>
			<td>Amount</td>
		</tr>
		<% @tickets.each do |ticket| %>
		<tr>
			<td class="left-col"><%= ticket.type.name %></td>
			<td> <%= ticket.quantity %></td>
		</tr>
		<% end %>
	</table>
<% else %>
	You have no ticket for this event
<% end %>
